<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Account</title>
    <%- include('./partials/head') %>
</head>
<body>
    <div class="login-page">
        <div class="form">
                <input type="text" placeholder="name" name="name" value=""/>
                <input type="text" placeholder="id" name="username" value="" />
                <input type="password" placeholder="password" name="password" />
                <input type="password" placeholder="passwordConfirmation" name="passwordConfirmation" />
                <button onclick="register()">create</button>
                <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </div>
    </div>
    <script type="text/javascript" src="/js/login.js"></script>
    <script>
        //regiset api
        async function register() {
            let name = $('input[name="name"]').val();
            if(!name) {
                alert('이름은 필수입력사항입니다.');
                return;
            }
            let username = $('input[name="username"]').val();
            if(!username) {
                alert('아이디는 필수입력사항입니다.');
                return;
            }
            let password = $('input[name="password"]').val();
            if(!password) {
                alert('비밀번호는 필수입력사항입니다.');
                return;
            }
            let passwordConfirmation = $('input[name="passwordConfirmation"]').val();
            if(!passwordConfirmation) {
                alert('비밀번호 확인은 필수입력사항입니다.');
                return;
            }
            if(password !== passwordConfirmation) {
                alert('비밀번호가 일치하지 않습니다.');
                return;
            }
            const response = await $.ajax({
                type: "POST",
                url: '/register',
                data: {
                    name,
                    username,
                    password,
                    passwordConfirmation
                }
            });
            if(response?.register) {
                alert('회원가입이 완료되었습니다.');
                window.location.href = '/login';
            } else {
                alert(`회원가입이 실패되었습니다.\n 등록 정보를 다시 확인하세요....\n ${response.message}`)
            }
        }
    </script>
</body>

</html>